/* here you can put your own css to customize and override the theme */
.login-page {
	margin-bottom: 50px;
}

.top-margin20 {
	margin-top: 20px;
}

.bottom-margin20 {
	margin-bottom: 20px;
}

.bottom-margin100 {
	margin-bottom: 100px;
}

.red-text {
	color: red;
}

.highlight {
	color: #ff6600;
}

.site-logo {
  padding-top: 10px;
  padding-bottom: 10px;
}
.header {margin-bottom: 0;}
.header.header-navibar.reduce-header .site-logo {
  padding-top: 5px;
  padding-bottom: 5px;
}
.header.header-navibar.reduce-header .site-logo img {width: 70%;}
.modal .modal-dialog .modal-content .modal-header .modal-title {
	text-align: center;
}
.header-title h1 {font-weight: bold;color: #c8ddfb;}
.modal .modal-dialog .modal-content .modal-header .modal-title .no-color-button {
	background: transparent;
	border: 0;
	float: right;
}

.modal .modal-dialog .modal-content .modal-header .modal-title .no-color-button i {
	font-size: 2em;
	color: #999999;
}

.modal .modal-dialog .modal-content .modal-header:after {
	content: '';
	display: block;
	float: none;
	clear: both;
}

.modal .modal-dialog .modal-content .modal-body input {
	margin-top: 10px;
	margin-bottom: 10px;
}

.modal .modal-dialog .modal-content .modal-footer {
	text-align: center;
}

.contentsd-explanation ul {
	list-style: none;
}

.page-header {
	background-color: rgba(128, 128, 128, 0.7);
	color: #FFF;
	margin: 0;
	padding: 20px 0 0 0;
}

.page-header h1 {
	display: inline-block;
}

.page-header a {
	color: #FFF;
}

.index-box {
	background-color: #333333;
	padding: 40px;
}

.main > .index-maya {
	position: relative;
	opacity: 1;
	background-image: url(../img/index/maya_bg.png);
	background-repeat: no-repeat;
	background-size: cover;
	background-attachment: fixed;
}

.main > .index-maya .img-block {
	position: relative;
	color: #ffffff;
	cursor: pointer;
}
/*@keyframes mask_off {
	0%   {opacity: 1;}
	25%  {opacity: .75;}
	50%  {opacity: .5;}
	75%  {opacity: .25;}
    100% {opacity: 0;}
}

@keyframes mask_on {
    0%   {opacity: 0;}
    100% {opacity: 1;}
}*/

.main > .index-maya .img-block .mask {
	position: absolute;
	top: 0;
	left: 15px;
	background-color: rgba(0, 0, 0, 0.5);
	display: table;
	text-align: center;
	opacity: 0;
	animation-duration: 1s;
	-webkit-transition: opacity 500ms linear;
	-moz-transition: opacity 500ms linear;
	-o-transition: opacity 500ms linear;
	-ms-transition: opacity 500ms linear;
	transition: opacity 500ms linear;
	/*animation-name: mask_off;*/
}

.main > .index-maya .img-block .mask .mask-content {
	display: table-cell;
	vertical-align: middle;
}

.main > .index-maya .img-block .mask.active {
	opacity: 1;
	animation-duration: 1s;
	/*animation-name: mask_on;*/
}

.index-box .title {
	color: #ffffff;
}

.index-box .content{
	color: #ffffff;
	font-size: 1.6em;
	padding-top: 30px;
}
